.container {
    background-image: url("user-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

.user_container{
    border-radius: 10px;
    border: 4px solid #e10600;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto;
    padding: 2rem;
    
    backdrop-filter: blur(5px);
}

.input {
    border-radius: 20px;
    padding: 1rem;
    

}


.button{
    border-radius: 20px;
    width: 50%;
    margin: 2rem auto;
}