.card_container {
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    
}

.date {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 .5rem 0 0;
    border-right: 1px dotted #6564644f;
    font-size: 0.5rem;
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.race_name {
    color: #fb0707;
    font-weight: bold;

}

.points {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: .5rem;
    border-left: 1px dotted #6564644f;
    font-size: .8rem;
    font-weight: bold;
    color: #fb0707;
}