.prediction-form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    background: #e4e4e7f5;
    padding: 8px;
    border-radius: 5px;
}
.form-title{
    font-size: 1rem;
    margin: 20px;
    padding: 0;
}
.prediction-form-input-container{
    margin: 1rem 0;
}
.prediction-form-position-input{
    width: 10rem;
}
.driver-position{
    margin: 2px;
    flex: 1 0 0%;
}
.driver-position button{
    font-size: .6rem;
    background: #e4e4e7f5;
    padding: 0 0 5px 0;
    margin: 0;
}
.driver-label label{
    background: white;
}
/* span{
    font-size: .8rem;
    color: #e10700c8;
    text-shadow: #aaa9a9 1px 1px 1px;
} */