.prediction-form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    background: #e4e4e7f5;
    padding: 8px;
    border-radius: 5px;
}
.form-title{
    font-size: 1rem;
    margin: 20px;
    padding: 0;
}
.prediction-form-input-container{
    margin: 1rem 0;
}
.prediction-form-position-input{
    width: 10rem;
}
.driver-card{
    margin: 5px;
    flex: 1 0 0%;
    position: relative;
    border: solid 1px rgb(107, 106, 106);
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
.driver-card button{
    font-size: .6rem;
    background: #e4e4e7f5;
    padding: 0 0 5px 0;
    margin: 2px;
}
.driver-label label{
    background: white;
}
.driver-label{
    color: rgb(54, 53, 53);
    position: absolute;
    left: .01rem;
    background: white;
    top: -.3rem;
    padding: 0 .1rem;
    background: #e4e4e7f5;
    font-size: .5rem;
}