.driver-list-container{
    display: flex;
    overflow: hidden;
    margin: 10px;
    
}
.driver-list-container ul{
    margin: 0;
    padding: 0;
}
.driver-list-container ul li{
    float: left;
    list-style: none;
    width:25%;
    padding: 3px;
    box-sizing: border-box;
}

.driver-list--close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    font-size: 1rem;
    cursor: pointer;
}
.driver-list--close--button{
    color: #020202;
    background: transparent;
}
.driver-list--close--button:hover{
    color: #e10700c8;
}



/* Responsive media queries */
@media screen and (min-width: 768px){
    .driver-list{
        width: 100%;
        height: auto;
        margin: 0;
    }
    .driver-list-container ul li{
        width:20%;
    }
    
}