.modal {
    background-color: #e4e4e7f5;
    border-radius: 5px;
    box-shadow: 0px 5px 50px rgba(92, 92, 92, 0.733);
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: auto;
}
