.race-qualify{
    display: flex;
    justify-content: space-around;
    font-size: 0.6rem;
}
.race-position--prediction{
    display: flex;
    justify-content: space-around;
}
.race-position-driver--prediction--container{
    border: 1px solid;
}
.race-position-driver--prediction{
    color: rgb(51, 51, 51);
    border-bottom: 3px solid rgb(149, 173, 42);
    font-size: 0.64rem;
    padding: 1px;
}
.race-position{
    width: fit-content;
    margin: 15px;
}
.race-position-driver{
    color: rgb(51, 51, 51);
    border-left: 3px solid rgb(149, 173, 42);
    margin-top: 5px;
    padding-left: 4px;
}
